<div id="main">
  <div class="header">
    <h1>Contact Us</h1>
    <h2>All the Things About us</h2>
    <% flash.each do |name,msg|%>
      <h2><%= msg %></h2>
    <% end %>
  </div>
        
  <div class="content">
    <h2 class="content-title">About Night of CSIE 2017</h2>
    <p class="content-listed">Official Website <a class="content-hyperlink" href="https://judgegirl.csie.org/">Night of CSIE 2017</a></p>
    <p class="content-listed">Official Facebook Page <a class="content-hyperlink" href="https://www.facebook.com/profile.php?id=100003388373112&fref=ts">Facebook of CSIE Night 2017</a></p>
  </div>
    
  <div class="content">
    <h2 class="content-title">Site Info</h2>
    <p class="content-listed">This site is styled with Pure CSS and powered by Ruby on Rails ! </p>
    <p class="content-listed">Front-End :: Github Repo: <a class="content-hyperlink" href="https://github.com/OctupusTea/Judge">https://github.com/OctupusTea/Judge</a></p>
    <p class="content-listed">Any pieces of advice, issues, and pull requests are welcomed.</p>
        
  <div class="header"></div>
        
  <div class="content">
    <h2 class="content-title">Contributors</h2>
    <p class="content-listed">*Front-End : </p>
    <p class="content-listed">資工B05鄭百凱 b05902128</p>
    <p class="content-listed">資工B05張庭與 b05902073</p>
    <p class="content-listed">*Back-End : </p>
    <p class="content-listed">資工B05陳柏文 b05902117</p>
    <p class="content-listed">*Deployment and Adviser :  </p>
    <p class="content-listed">資工B05 周 逸 b05902086</p>    
    <p class="content-listed">資工B03陳家陞</p>
  </div>
</div>
