<div id="main">
  <div class="header">
    <h1>User</h1>
    <h2><%= current_user.name.to_s.humanize %><h2>
  </div>

  <div class="content">
    <div class="ul" >
      <ul class="profile">          
        <li class="infor">Your Score: <%= current_user.score %></li>
        <li class="infor">Your Rank: <%= @ranknumber %></li>
        <li class="infor">Accept Counter: <%= @number %></li>
      </ul>
    </div>
  </div>
</div>
