<div id="main">
  <div class ="header">
    <h1>Log In</h1>
    <h2>Linkin' Your Facebook Before Continuing</h2>
  </div>   
  <div class="content">
    <div id="left-half">
      請使用Facebook 帳號登入
      <br><br><br>
      <div class="register_facebook"><%= link_to "Facebook Login", user_facebook_omniauth_authorize_path, :id => "submit-facebook"%></div>
    </div>
  </div>
</div>