<div class="header">
  <h1>Problem Set</h1>
  <% flash.each do |name,msg|%>
    <h2><%= msg %></h2>
  <% end %>
</div>
<div class="content">
  <ul class="Set">
    <% @categories.each do |c| %>
      <li class="Set"><%= link_to c.name, category_path(c)%></li>
    <% end %>
  </ul>
</div>
